@use "../../../styles/variables" as *;
.select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid $gray-light;
  border-radius: 0.375rem;
  font-size: 1rem;

  &:focus {
    border-color: $primary;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  }
}
